body {
  min-height: 100vh;
  background-attachment: fixed;
  background: #f3ecec linear-gradient(135deg, #688af1, #d1d7de);
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #688af1, #d1d7de);
  z-index: -1; 
}
.upcoming-events {
  font-family: "Garamond", sans-serif;
  text-align: center; 
  font-size: 26px; 
  font-weight: bold;
  margin-bottom: 10px; 
  color :#f4f5f7;
}

  .navbar {
    display: flex;
    gap: 10px; 
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #f3ecec linear-gradient(135deg, #96a8e1, #e9ebed);
    padding: 10px 20px;
    color: rgb(155, 175, 228);
    /*border-radius: 8px;*/
  }
  
  .search-bar {
    padding: 8px 2px;
    width: 20%;
    /*border-radius: 20px;*/
    border: 1px solid #ddd;
  }
  
  .user-info {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .profile-icon {
    font-size: 18px;
  }
  
  .dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown button {
    padding: 10px 15px;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #f0f0f0;
  }

  .dashboard-container {
    text-align: center;
    padding: 20px;
    color: rgb(43, 41, 41);
}
.events-page {
    color: rgb(44, 39, 39);
}
  .event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  
  .event-card {
    padding: 20px;  
    font-size: 18px; 
    border-radius: 8px;
    background: rgba(217, 225, 232, 0.1);
    font-family: "Garamond", sans-serif;
    box-shadow: 0px 0px 15px rgba(23, 52, 52, 0.4);
    border: 1px solid rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  .event-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.3);
}
.event-name {
  font-family: "Garamond", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #111111;
}
.event-details {
  font-size: 16px;
  color: #100f0f;
}
  /*.event-card h3 {
    margin-bottom: 8px;
  }*/
  
  .register-btn {
    display: inline-block; 
    max-width: 200px; 
    background: linear-gradient(135deg, #849fca, #6692f0);
    color: white;
    padding: 10px 3px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(125, 6, 125, 0.7);
}
  
.register-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(1, 65, 65, 0.9);
}
  